main{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.intro{
width: 35%;
margin: 0px;
}

.projects{
    width: 60%;
    margin: 0px;
}

.projects .section__title{
    align-items: flex-start;
}

