:root{
    --potropink: #FF8EE3;
    --softpink: #E7A8E4;
    --softblue: #99ACEA;
    --darkblue: #060841;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://i.imgur.com/dkZlIja.png);
    background-repeat: repeat-y;
    background-size: cover;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--potropink);
    border-radius: 20px;
}

body::-webkit-scrollbar{
    width: 10px;
}
.fire-logo{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/icons/pinkfire.svg);
}
img{
    width: 100%;
}
header{
    width: 100%;
    min-width: 320px;
    min-height: 210px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(https://i.imgur.com/P4vH3us.jpg);
}
.header__language--menu{
    position: absolute;
    right: 20px;
    top: 20px;
}
.header__language--menu li{
    display: inline-block;
    padding: 4px;
    border-radius: 20px;
    background-color: white;
}
.header__language--menu a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.header__title{
    width: auto;
    min-width: 320px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.title__fire{
    width: 50px;
    height: 60px;
}
.title__name{
    width: 140px;
    height: 110px;
    margin: 0 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/icons/titulo.svg);
}
.header__subtitle{
    margin-top: 6px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}
.header__menu{
    margin-top: 12px;
}
.header__menu li{
    margin: 0 4px;
    padding: 5px;
    display: inline-block;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__menu a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

/*Genereal aspects of sections */
.section{
    padding-top: 70px;
    width: 100%;
    min-width: 320px;
    height: auto;
}
.section__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__title__text{
    width: 300px;
    margin: 0 30px;
    margin-bottom: 30px;
}
.section__title h2{
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}
.section__title p{
    min-width: 220px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
}
.section__image-holder{
    width: 320px;
    height: 179px;
    overflow-y: hidden;
}
.section__title img{
    height: 100%;
    object-fit: cover;
}


/*SECCION DE INTRO */
.intro__aboutme{
    width: 90%;
    min-width: 250px;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 30px;
    height: auto;
}
.aboutme__question{
    width: 100%;
    margin-top: 35px;
}
.aboutme__question--title{
    width: 100%;
    padding: 10px;
    background-color: var(--softpink);
    display: flex;
    justify-content: space-between;
}
.intro__aboutme div:nth-child(even) .aboutme__question--title{
    background-color: var(--potropink);
}
.aboutme__question--title p{
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 400;
}
.aboutme__question--title span{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(./assets/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.7s all;
    transform: rotate(0deg);
}
.aboutme__question--content{
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--darkblue);
}
.aboutme__question--content p{
    padding: 12px;
    color: white;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.projects{
    width: 100%;
    min-width: 320px;
    height: auto;
}
.projects__all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project__item{
    width: 250px;
    height: 210px;
    position: relative;
    margin-top: 40px;
    cursor: pointer;
}

.rotar{
    animation: rotatecard 0.3s ease forwards;
}
.rotarback{
    animation: rotateback 0.3s ease forwards;
}
@keyframes rotateback{
    from{
        transform: rotateZ(180deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes rotatecard{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(180deg);
    }
}
.invisible{
    animation: make-invisible 0.3s ease forwards;
}
@keyframes make-invisible {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
.project__item--title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project__item--info{
    width: 100%;
    height: 100%;
    display: flex;
}
.project__item--cara1 .project__item--info{
    flex-direction: row;
}
.project__item--cara2 .project__item--info{
    flex-direction: column;
}
.project__item--info p{
    width: 80%;
    padding-top: 8px;
}
.project__item--info-photo{
    height: 120px;
    width: 70px;
    align-self: flex-end;
}
.project__item--info-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project__item--info-seemore{
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
}
.project__item--info-seemore span{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    transform: rotate(90deg);
    display: inline-block;
    background-image: url(./assets/icons/pink-arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.project__item--info .project__item--info-seemore a{
    width: auto;
    font-size: 1rem;
    color: white;

}
.project__item--title h3{
    margin-top: 10px;
    text-align: left; 
    font-size: 1.8rem;
    font-weight: 700;
}
.project__item--title span{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.project__item p{
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}
.project__item .cara{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px 15px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}
.project__item--cara1{
    background-color: var(--softpink);
    color: black;
}
.project__item--cara1 h3{
    color: var(--darkblue);
}
.project__item--cara2{
    background-color: var(--darkblue);
    color: white;
    transform: rotateZ(180deg);
}
.project__item--cara2 h3{
    color: var(--softpink);
}

/* Sección de Blog*/
.blog__image-holder{
    background-image: url(https://i.imgur.com/KFTdv5S.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.blog__all{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blog__post{
    width: 80%;
    min-width: 286px;
    max-width: 320px;
    height: 100px;
    align-self: center;
    display: grid;
    grid-template-columns:  30% 70%;
    grid-template-rows: 90% 10%;
    grid-column-gap: 5px;
    align-items: center;
    padding: 20px 10px;
    margin-top: 30px;
    background-color: var(--softpink);
}
.blog__title--text{
    margin-bottom: 30px;
}
.blog__post--title {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blog__post--title:hover{
    color: var(--darkblue);
    text-decoration: underline;
}
.blog__post--image{
    width: 100%;
    height: 50px;
    grid-column-start: 1;
    grid-row-start: 1;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/icons/eye.svg);
}
.blog-type{
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 1.2rem;
    text-align: center;
}

footer{
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: 160px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--potropink);
}
.footer__title{
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer__social{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__social--container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}
.footer__social--container a{
    display: flex;
    text-decoration: none;
}
.footer__social--container a:hover{
    font-weight: bold;
}
.footer__social--logo{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer__social--name{
    font-size: 1.8rem;
    margin-left: 8px;
}