:root{
    --potropink: #FF8EE3;
    --softpink: #E7A8E4;
    --softblue: #99ACEA;
    --darkblue: #060841;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;
}
body::-webkit-scrollbar{
    width: 10px;
}
.fire-logo{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/icons/pinkfire.svg);
}
img{
    width: 100%;
}
header{
    width: 100%;
    min-width: 320px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(https://i.imgur.com/P4vH3us.jpg);
}
.header__title{
    width: auto;
    min-width: 320px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.title__fire{
    width: 50px;
    height: 60px;
}
.title__name{
    width: 140px;
    height: 110px;
    margin: 0 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/icons/titulo.svg);
}
.header__subtitle{
    margin-top: 6px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    background: url(https://i.imgur.com/gF9jgLP.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    padding-bottom: 90px;
}
/*SECCION PHOTOS */